[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-extensions = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-jsonapi = "==7.0.2"
python-dotenv = "*"
pytz = "==2024.1"
sqlparse = "==0.5.1"
tzdata = "==2025.1"
django-environ = "==0.11.2"
djangorestframework-simplejwt = "==5.3.1"
pyodbc = "==5.1.0"
redis = "==5.0.4"
celery = "==5.4.0"
django-redis = "==5.4.0"
django-storages = "==1.14.3"
pytest = "==8.2.2"
pytest-django = "==4.8.0"
django-debug-toolbar = "==4.4.2"
django = "==5.1.2"
django-cors-headers = "*"
asgiref = "==3.8.1"
drf-spectacular = "==0.27.2"
inflection = "==0.5.1"
pillow = "*"
django-silk = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.12"
